@model SocietyManagementWeb.Models.DepartmentMasterModel
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
    int isAdministrator = HttpContextAccessor.HttpContext.Session.GetInt32("IsAdministrator").Value;
    List<SocietyManagementWeb.Models.DepartmentMasterModel> departmentList = ViewBag.departmentList as List<SocietyManagementWeb.Models.DepartmentMasterModel>;
    List<SelectListItem> layoutList = ViewBag.layoutList as List<SelectListItem>;
    List<SelectListItem> pageNoList = ViewBag.pageNoList as List<SelectListItem>;
    var userRight = ViewBag.userRight as SocietyManagementWeb.Models.UserFormRightModel;
    ViewData["Title"] = userRight.ModuleNm;
    string headerAdd = "";
    string headerList = "";
    string gridAdd = "";
    string gridList = "";
    bool headerAddTrue = false;
    bool headerListTrue = false;

    if (userRight != null && (userRight.IsAdd || userRight.IsEdit) && userRight.IsList)
    {
        headerList = "active";
        gridList = "show active";
        headerAddTrue = true;
    }
    else if (userRight != null && (userRight.IsAdd || userRight.IsEdit))
    {
        headerAdd = "active";
        gridAdd = "show active";
        headerAddTrue = true;
    }
    else if (userRight != null && userRight.IsList)
    {
        headerList = "active";
        gridList = "show active";
        headerAddTrue = true;
    }
}


<div class="card card-primary" style="background-color:antiquewhite">
    <div class="card-header" style="font-family:Nina;font-size:medium">
        <h6> @ViewData["Title"]</h6>
    </div>
    <div class="card-body">
        <div class="card card-primary card-tabs">
            <div class="card-header p-0 pt-1">
                <ul class="nav nav-tabs" id="custom-tabs-three-tab" role="tablist">
                    @if (userRight != null && userRight.IsList)
                    {
                        <li class="nav-item">
                            <a class="nav-link @headerList" id="custom-tabs-three-list-tab" data-toggle="pill" href="#custom-tabs-three-list" role="tab" aria-controls="custom-tabs-three-list" aria-selected="@headerListTrue" style="font-family:Nina;font-size:medium" onclick="GoToListTab()">List (Alt+L)</a>
                        </li>
                    }
                    @if (userRight != null && (userRight.IsAdd || userRight.IsEdit))
                    {
                        <li class="nav-item">
                            <a class="nav-link @headerAdd" id="custom-tabs-three-add-tab" data-toggle="pill" href="#custom-tabs-three-add" role="tab" aria-controls="custom-tabs-three-add" aria-selected="@headerAddTrue" style="font-family:Nina;font-size:medium" onclick="GoToAddTab()">Add/Update (F2)</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="card-body" style="background-color:aliceblue">
                <div class="col-md-12">
                    <div class="tab-content" id="custom-tabs-three-tabContent">
                        @if (userRight != null && userRight.IsList)
                        {
                            <div class="tab-pane fade @gridList" id="custom-tabs-three-list" role="tabpanel" aria-labelledby="custom-tabs-three-list-tab">
                                <div class="table-responsive mt-2" style="font-display:inherit">
                                    <div class="col-md-12 col-12 mb-2 mt-2">
                                        <div class="row">
                                            <div class="col-md-1 mb-2 float-left">
                                                <select class="form-control form-control-sm" onchange="loadData()" id="drpReportPageNoDatable">
                                                    @for (int i = 0; i < pageNoList.Count; i++)
                                                    {
                                                        string checkedd = "checked";
                                                        <option checked="@checkedd" value="@pageNoList[i].Value">@pageNoList[i].Text</option>
                                                        checkedd = string.Empty;
                                                    }

                                                </select>
                                            </div>
                                            <div class="col-md-5 col-12">
                                                <div class="row">
                                                    <div class="col-md-6 col">
                                                        <select class="form-control select2 drpReportLayout" onchange="loadData()">
                                                            <option value="" ; style="width:200px">--Select Layout--</option>
                                                            @if (layoutList != null && layoutList.Count > 0)
                                                            {
                                                                foreach (var item in layoutList)
                                                                {
                                                                    <option value="@item.Value">@item.Text </option>
                                                                }
                                                            }
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2 col-auto mb-2 custommt-2-3">
                                                        @if (isAdministrator == 1)
                                                        {
                                                            <button class="btn btn-dark btn-sm text-white" style="font-family:Nina;font-size:medium" onclick="window.open('/GridMaster/Index/' + $('.drpReportLayout').val(), '_blank');">
                                                                Edit
                                                            </button>
                                                        }
                                                    </div>
                                                    <div class="col-md-4 mb-2 custommt-2-3">
                                                        <button class="btn btn-primary btn-sm" id="btnExportToExcel">Excel</button>
                                                        <button class="btn btn-primary btn-sm ml-6" id="btnExportToPDF">PDF</button>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-3"></div>
                                            <div class="col-md-3 col-12 float-right">
                                                <input type="text" class="form-control form-control-sm" placeholder="Search" id="txtReportSearchDataTable" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dataTable">

                                    </div>
                                    <div class="pager float-right"></div>
                                </div>
                            </div>
                        }
                        @if (userRight != null && (userRight.IsAdd || userRight.IsEdit))
                        {
                            <div class="tab-pane @gridAdd" id="custom-tabs-three-add" role="tabpanel" aria-labelledby="custom-tabs-three-add-tab">
                                <form method="post" class="mt-4" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Nina">
                                                    Code <span class="required">*</span>
                                                </label>

                                                <div class="form-outline form-white mb-2">
                                                    <input type="text" id="txtDepCode" name="DepCode" class="form-control form-control-lg" placeholder="Code" tabindex="1" value="@Model.DepCode" style="font-family: Verdana;font-size:medium; height:35px;" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Nina">
                                                    Name <span class="required">*</span>
                                                </label>

                                                <div class="form-outline form-white mb-2">
                                                    <input type="text" id="txtDriverNm" name="DepName" class="form-control form-control-lg" placeholder="Name"
                                                           tabindex="2" value="@Model.DepName" style="font-family: Verdana;font-size:medium; height:35px;" required />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Nina">
                                                    Address <span class="required"></span>
                                                </label>
                                                <div class="form-outline form-white mb-2">
                                                    <textarea id="txtAddress" name="DepAdd" class="form-control form-control-lg" placeholder="Address" tabindex="3" rows="3" style="width:350px; height:110px">@Model.DepAdd </textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Nina">
                                                    City <span class="required"></span>
                                                </label>
                                                <input type="hidden" name="DepCity" id="txtDepCity" value="@Model.DepCity" />
                                                <div class="form-outline form-white mb-2">
                                                    @Html.DropDownListFor(x => x.DepCityVou, new SelectList(Model.CityList, "Value", "Text"), "Select", new { @class = "form-control select2 DepCityVou", @tabindex = "4", style = "height:35px; width:245px ", @onchange = "GetCityState(this)" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Nina">
                                                            State <span class="required"></span>
                                                        </label>
                                                        @*<input type="hidden" name="DepState" id="txtDepState" value="@Model.DepState" />*@
                                                        <div class="form-outline form-white mb-2">
                                                            <input type="text" id="txtDepState" name="DepState" class="form-control form-control-lg" placeholder="State" tabindex="6" value="@Model.DepState" style="font-family: Verdana;font-size:medium; height:35px" disabled="disabled" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Nina">
                                                    PAN No <span class="required"></span>
                                                </label>

                                                <div class="form-outline form-white mb-2">
                                                    <input type="text" id="txtDepPAN" name="DepPAN" class="form-control form-control-lg" placeholder="PAN No" tabindex="6" value="@Model.DepPAN" style="font-family: Verdana;font-size:medium; height:35px;" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Nina">
                                                    GST No <span class="required"></span>
                                                </label>

                                                <div class="form-outline form-white mb-2">
                                                    <input type="text" id="txtDepGST" name="DepGST" class="form-control form-control-lg" placeholder="GST No"
                                                           tabindex="7" value="@Model.DepGST" style="font-family: Verdana;font-size:medium; height:35px;" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Nina">
                                                            Phone(Off) <span class="required"></span>
                                                        </label>

                                                        <div class="form-outline form-white mb-2">
                                                            <input type="text" id="txtDepPhone2" name="DepPhone2" class="form-control form-control-lg" placeholder="Office Phone Numer"
                                                                   tabindex="8" value="@Model.DepPhone2" style="font-family: Verdana;font-size:medium; height:35px;" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Nina">
                                                    Mobile <span class="required"></span>
                                                </label>

                                                <div class="form-outline form-white mb-1">
                                                    <input type="text" id="txtDepMob" name="DepMob" class="form-control form-control-lg" placeholder="Mobile Numer"
                                                           tabindex="9" value="@Model.DepMob" style="font-family: Verdana;font-size:medium; height:35px;" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Nina">
                                                    Whatsapp Mob. <span class="required"></span>
                                                </label>

                                                <div class="form-outline form-white mb-1">
                                                    <input type="text" id="txtDepWhtMob" name="DepWhtMob" class="form-control form-control-lg" placeholder="Whatsapp Mobile Numer"
                                                           tabindex="10" value="@Model.DepWhtMob" style="font-family: Verdana;font-size:medium; height:35px;" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Nina">
                                                    Email <span class="required"></span>
                                                </label>

                                                <div class="form-outline form-white mb-1">
                                                    <input type="email" id="txtDepEmail" name="DepEmail" class="form-control form-control-lg" placeholder="Email ID"
                                                           tabindex="11" value="@Model.DepEmail" style="font-family: Verdana;font-size:medium; height:35px;" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Nina">
                                                    Business Line <span class="required"></span>
                                                </label>

                                                <div class="form-outline form-white mb-1">
                                                    <input type="text" id="txtDepBusLine" name="DepBusLine" class="form-control form-control-lg" placeholder="Business Line"
                                                           tabindex="12" value="@Model.DepBusLine" style="font-family: Verdana;font-size:medium; height:35px;" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Nina">
                                                    Jurisdiction <span class="required"></span>
                                                </label>

                                                <div class="form-outline form-white mb-2">
                                                    <input type="text" id="txtDepJurd" name="DepJurd" class="form-control form-control-lg" placeholder="Jurisdiction"
                                                           tabindex="14" value="@Model.DepJurd" style="font-family: Verdana;font-size:medium; height:35px;" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Nina">
                                                    Bank Name <span class="required"></span>
                                                </label>

                                                <div class="form-outline form-white mb-2">
                                                    <input type="text" id="txtDepBnkNm" name="DepBnkNm" class="form-control form-control-lg" placeholder="Bank Name"
                                                           tabindex="15" value="@Model.DepBnkNm" style="font-family: Verdana;font-size:medium; height:35px;" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Nina">
                                                    Branch <span class="required"></span>
                                                </label>

                                                <div class="form-outline form-white mb-2">
                                                    <input type="text" id="txtDepbnkBrnch" name="DepbnkBrnch" class="form-control form-control-lg" placeholder="Bank Brnach"
                                                           tabindex="16" value="@Model.DepBnkBrnch" style="font-family: Verdana;font-size:medium; height:35px;" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Nina">
                                                    A/c No <span class="required"></span>
                                                </label>

                                                <div class="form-outline form-white mb-2">
                                                    <input type="text" id="txtDepAcNo" name="DepAcNo" class="form-control form-control-lg" placeholder="Account No"
                                                           tabindex="17" value="@Model.DepAcNo" style="font-family: Verdana;font-size:medium; height:35px;" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Nina">
                                                    IFSC Code <span class="required"></span>
                                                </label>

                                                <div class="form-outline form-white mb-1">
                                                    <input type="text" id="txtDepIFSC" name="DepIFSC" class="form-control form-control-lg" placeholder="Bank IFSC Code"
                                                           tabindex="18" value="@Model.DepIFSC" style="font-family: Verdana;font-size:medium; height:35px;" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12 font-weight-bold customLabel" style="font-family:Nina">
                                                    Logo <span class="required"></span>
                                                </label>

                                                <div class="form-outline form-white mb-1">
                                                    <input type="file" id="imgUpload" name="profileLogo" accept="image/png, image/gif, image/jpeg" />
                                                    <input type="hidden" id="imgUpload" name="ProfilePicture" value="@Model.ProfilePicture">

                                                </div>

                                            </div>
                                        </div>
                                        <div class="img_wrp">
                                            <img id="blah" src="#" alt="your image" style="height:170px;width:170px;border-radius:10%;border:1px solid black" />
                                            <i class="fa fa-times closess" id="btnClose"></i>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            @if (userRight.IsEdit && Model != null && Model.DepVou > 0)
                                            {
                                                <button class="btn btn-primary px-md-4 text-white" style="font-family:Nina;font-size:medium" id="btnSave">
                                                    Save (F10)
                                                </button>
                                                <a href="/Department/index" class="btn btn-warning px-md-4 text-dark" style="font-family:Nina;font-size:medium">
                                                    Cancel (Esc)
                                                </a>
                                            }
                                            else if (userRight.IsAdd && Model.DepVou == 0)
                                            {
                                                <button class="btn btn-primary px-md-4 text-white" style="font-family:Nina;font-size:medium" id="btnSave">
                                                    Save (F10)
                                                </button>
                                                <a href="/Department/index" class="btn btn-warning px-md-4 text-dark" style="font-family:Nina;font-size:medium">
                                                    Cancel (Esc)
                                                </a>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-md-12">

                                    </div>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>


        </div>


    </div>
</div>
<script>
    $(document).ready(function () {
        $('#blah').hide();
        $('#btnClose').hide();
        let profilePicture = '@Html.Raw(@Model.ProfilePicture)';
        if (profilePicture != null && profilePicture != '') {
            $('#blah').attr('src','/Uploads/' + profilePicture);
            $('#blah').show();
            $('#btnClose').show();

        }



        var departmentName = '@Html.Raw(Model.DepName)';
            if (departmentName != null && departmentName != '') {
                GoToAddTab()
            }
            else {
                GoToListTab();
            }
            var status = '@Html.Raw(ViewBag.FocusType)';
            if (status != null && status != '') {
                if (status == "0") {
                    $("#txtDepCode").focus();
                }
                if (status == "1") {
                    $("#txtDepName").focus();
                }
                if (status == "3") {
                    $("#txtDepAdd").focus();
                }
                if (status == "4") {
                    $("#txtDepCity").focus();
                }
                if (status == "5") {
                    $("#txtDepDisc").focus();
                }
                if (status == "6") {
                    $("#txtDepState").focus();
                }
            }
            else {
                $("#txtDepName").focus();
            }

        });
    function GoToAddTab() {
        $('#custom-tabs-three-list-tab').removeClass('active');
        $('#custom-tabs-three-add-tab').addClass('active');

        $('#custom-tabs-three-list').removeClass('active');
        $('#custom-tabs-three-add').addClass('active');
        $('#custom-tabs-three-add').addClass('show');
        $('#txtDepState').attr('disabled', true);
        $('#txtDepCode').focus();
    }
    function GoToListTab() {
        $('#custom-tabs-three-list-tab').addClass('active');
        $('#custom-tabs-three-add-tab').removeClass('active');

        $('#custom-tabs-three-list').addClass('active');
        $('#custom-tabs-three-list').addClass('show');
        $('#custom-tabs-three-add').removeClass('active');
        $('#custom-tabs-three-add').removeClass('show');
        $('#txtReportSearchDataTable').focus();
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').show();
                $('#btnClose').show();
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgUpload").change(function () {
        readURL(this);
    });

    $('#btnClose').click(function () {
        $('#blah').attr('src', '');
        $('#blah').hide();
        $('#btnClose').hide();
        $("#imgUpload").val("");
        $('input[name="ProfilePicture"]').val("");
    })
</script>

<script>
    var isRecentCalledEsc = false;
    (function (code) {
        code(window.jQuery, document, window);
    }(function ($, document, window) {
        $(function () {
            $(window)
                .initKeyboard({ debug: 1 })
                .on('F2', function () {
                    GoToAddTab()
                }).on('F10', function () {
                    $('#txtDepState').attr('disabled', false);
                    $("#btnSave").click();
                })
                .on('Alt+L', function () {
                    GoToListTab();
                })
                .on('Alt+C', function () {
                    if (confirm("Do you want to exit without save?")) {
                        location.href = '/Department/Index'
                    }
                    else {
                        $('#txtDepName').focus();
                    }

                }).on('Escape', function () {
                    if (!isRecentCalledEsc) {
                        isRecentCalledEsc = true;
                        if (confirm("Do you want to exit without save?")) {
                            location.href = '/Department/Index'
                        }
                        else {
                            $('#txtDepName').focus();
                        }
                        setTimeout(function () {
                            isRecentCalledEsc = false;
                        }, 500)
                    }

                })
        });
    }));
</script>


<script>

    var isRecentCalled = false;
    var cityList = JSON.parse('@Html.Raw(Json.Serialize(Model.CityList))');

    $(function () {

        loadData();
        var pageIndex = '';
        var pageSize = '';
        var totalRecord = '';
        var isDelete = '@Html.Raw(userRight.IsDelete)';
        var isEdit = '@Html.Raw(userRight.IsEdit)';
    })

    var timer = null;
    $('#txtReportSearchDataTable').keyup(function (e) {
        if (e.keyCode >= 112 && e.keyCode <= 123) {
            e.preventDefault();
            return false;
        }
        else {
            clearTimeout(timer);

            timer = setTimeout(loadData, 1000)
        }

    });

    function GetCityState(obj) {
        var statevalue = $(obj).val();
        if (statevalue) {
            if (cityList != null && cityList.length > 0) {
                for (var x = 0; x < cityList.length; x++) {
                    if (cityList[x].value == statevalue) {
                        //$('#DepStateVou').attr('disabled', false);
                        var stateName = cityList[x].value1;
                        //var stateVou = cityList[x].value2;
                        //$('#DepStateVou').val(cityList[x].value2);
                        $('#txtDepState').val(stateName);
                        //$('#DepStateVou').attr('disabled', true);
                    }
                }
            }
        }
    }


    function loadData(pageIndex, columnName, sortBy) {
            isRecentCalled = true;
            if (pageIndex == undefined || pageIndex == "" || pageIndex == "0" || pageIndex == 0) {
                pageIndex = 1;
            }
            var layoutId = $('.drpReportLayout').val();

            if (!layoutId) {
                $('.drpReportLayout').val($('.drpReportLayout').children('option').eq(1).prop('value'));
                //SetSelect2()

            }
            if (!columnName) {
                columnName = '';
            }
            if (!sortBy) {
                sortBy = '';
            }
            $('.dataTable').html();
            $.ajax({
                url: '/Department/GetReportView',
                type: 'GET',
                data: { pageIndex: pageIndex, pageSize: $('#drpReportPageNoDatable').val(), searchValue: $('#txtReportSearchDataTable').val(), gridMstId: $('.drpReportLayout').val(), columnName: columnName, sortby: sortBy },
                dataType: 'HTML',
                traditional: true, // add this
                success: function (data) {
                    $('.dataTable').html(data);
                    setTimeout(function () {
                        isRecentCalled = false;
                    }, 2000)
                },
                failure: function (response) {
                    errorMessage(response);
                }
            });
    }
    $('#btnExportToExcel').click(function () {
        window.location.href = "/Department/ExportToExcelPDF?gridMstId=" + $('.drpReportLayout').val() + "&searchValue=" + $('#txtReportSearchDataTable').val() + "&type=1";
    })
    $('#btnExportToPDF').click(function () {
        window.location.href = "/Department/ExportToExcelPDF?gridMstId=" + $('.drpReportLayout').val() + "&searchValue=" + $('#txtReportSearchDataTable').val() + "&type=2";
    })

    $(function () {
        var citynm = $('#DepCityVou').children('option:selected').text()
        if (citynm)
            $('input[name="DepCity"]').val(citynm);
    })

    $('#DepCityVou').change(function () {
        var citynm = $('#DepCityVou').children('option:selected').text()
        if (citynm)
            $('input[name="DepCity"]').val(citynm);
    })

</script>
<script>
    function SetSelect2() {
        $(".select2").select2({
            placeholder: "---Select---",
        });
    }

    $(document).ready(function () {

        $(".DepCityVou").select2({
            placeholder: "---Select---",
        });

    });

</script>